.header {
	position: absolute;
    width: 100%;
    z-index: 5;
    text-align: center;
    padding-top: 30px;

	a {
		font-size: 18px;
		text-transform: uppercase;
		font-family:"Avenir LT W01_85 Heavy1475544";
		color: #fff;
		text-decoration: none;
		letter-spacing: 6px;
		margin-bottom: 0;
		padding-bottom: 0;
	}
}